apiVersion: apps/v1
kind: Deployment
metadata:
  name: valkey-operator
  namespace: system
  labels:
    app.kubernetes.io/name: valkey-operator
    app.kubernetes.io/managed-by: vko.gtrfc.com
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: valkey-operator
  template:
    metadata:
      labels:
        app.kubernetes.io/name: valkey-operator
    spec:
      containers:
        - name: manager
          image: controller:latest
          args:
            - --leader-elect
          ports:
            - containerPort: 8080
              name: metrics
            - containerPort: 8081
              name: health
          livenessProbe:
            httpGet:
              path: /healthz
              port: 8081
          readinessProbe:
            httpGet:
              path: /readyz
              port: 8081
          resources:
            limits:
              cpu: 500m
              memory: 128Mi
            requests:
              cpu: 10m
              memory: 64Mi
      serviceAccountName: valkey-operator
      terminationGracePeriodSeconds: 10
