apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "valkey-operator.fullname" . }}
  labels:
    {{- include "valkey-operator.labels" . | nindent 4 }}
rules:
  - apiGroups:
      - vko.gtrfc.com
    resources:
      - valkeys
      - sentinels
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - vko.gtrfc.com
    resources:
      - valkeys/status
      - sentinels/status
    verbs:
      - get
      - patch
      - update
  - apiGroups:
      - vko.gtrfc.com
    resources:
      - valkeys/finalizers
      - sentinels/finalizers
    verbs:
      - update
  - apiGroups:
      - ""
    resources:
      - pods
      - services
      - configmaps
      - secrets
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - apps
    resources:
      - statefulsets
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - ""
    resources:
      - events
    verbs:
      - create
      - patch
  - apiGroups:
      - coordination.k8s.io
    resources:
      - leases
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
